
.form-container{
  max-width: 1024px;
  margin: 0 auto;
  font-family: 'Nunito', sans-serif;
  scroll-margin-top: 100px;
}
.solicitud__title{
  color: #434343;
  font-weight: 800;
  font-size: 2rem;
}

.solicitud__subtitle{
  font-weight: 300;
  font-size: 1rem;
}

.huron-image{    
  width: 250px;
  height: 250px;
  background-image: url(../../assets/huron-section-form.png);
  background-repeat: no-repeat;
  margin: 0px auto;    
  background-size: cover;
  grid-row: 1/2;  

}
.input-container{
  width: 100%;
}
.icono-user,
.icono-telefono,
.icono-huella,
.icono-mail{
  background-image: url(../../assets/huella2.png);
  background-size: 1rem 1rem;
  background-repeat: no-repeat;
  background-position: 1rem center;
  padding: 0.5rem 0 0.5rem 3rem;
  border-radius: 5rem;
  border: 1px solid #dbdbdb;
  height: 3rem;
  margin: 0 0 1rem 0;
  border-color: rgb(208, 205, 205);
  width: 100%;
  outline: none;    
  transition: .5s;
}

.icono-user:focus,
.icono-telefono:focus,
.icono-huella:focus{
  border-color: #27b1f4;
}

.icono-telefono{
  background-image: url(../../assets/llamada-telefonica2.png);
}

.icono-user{
  background-image: url(../../assets/usuario2.png);
}

.icono-mail{
  background-image: url(../../assets/correo-electronico.png);
}

.container__acepto-datos{
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;    
}
.datos-label{
  font-size: .8rem;
  text-align: left;
}
.acepto-datos span{
  color: #037bc0;
}

.hacer-cita{
  height: 3.5rem;
  margin: 0 1rem 1rem 1rem;
  padding: 0 1.5rem;
  outline: none;
  border-radius: 50px;
  border: 1px solid #f65875;    
  background-color: #fff;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.5s;        
}
.botones-citas{
  display: flex;
  flex-direction: column;
  width: 15rem;
  justify-content: center;
  margin: auto;    
}
.hacer-cita--colorbg,
.botones-citas :hover{
  height: 3.5rem;    
  padding: 0 1.5rem;
  outline: none;
  border-radius: 50px;
  border: 1px solid #f65875;
  background-color: #f65875;
  color: #ffffff;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.5s;
}
.hacer-cita--colorbg:hover{
  border: 1px solid #e63f5d;
  background-color: #e63f5d;
}

.grid-container{
  display: grid;
  padding: 1rem 1rem;
  overflow-x: hidden;
}


@media (min-width: 854px) {
  .form-container{
    margin-top: 3rem;
  }

  .grid-container{
    display: grid;
    padding: 1rem 0;
  }

  .inputs-images{
      
      margin-top: 2rem;
  }
  .grid-container{
      display: grid;
      align-items: center;
      grid-template-columns: repeat(2,1fr);        
  }
  .huron-image{
      grid-column: 2/3;      
      width: 430px;
      height: 430px;
  }
  .container__acepto-datos{
    justify-content: left;
  }
  .solicitud{
      grid-column: 1/2;        
      text-align: left;
  }
  .solicitud__title{
    font-size: 2.5rem;
  }

  .solicitud__subtitle{
    font-weight: 300;
    font-size: 1.2rem;
  }
  
  .botones-citas{
      display: flex;
      flex-direction: row;  
      width: 30rem;   
      justify-content: flex-start;
      margin: 0; 
  }
  .botones-citas button{
      margin-left: 0;
  }
  .input-container{
      width: 26rem;
  }
  

}